@inherits LayoutComponentBase
@*<pagetitle>
    SuggestionAppUI
</pagetitle>*@

<div class="page"> 
    <div class="main container-xxl">
        <div class="page-heading text-uppercase ">
            <a href="/">
                SF6 Wishlist
            </a>
        </div>
        <div class="px-5 pt-3 nav-links">
            <LoginDisplay/>
        </div>
        <div class="content pt-1">
            @Body
        </div>
    </div>
</div>
