@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


html, body {
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}


h1,h2,h3,h4,h5,h6{
    font-family:'Montserrat',sans-serif;
    font-weight: 900;
    color:#1861ac;
}


body {
    background: url(../images/street-fighter-6-logo.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%
}


h1{
    padding-top:1rem;
}


.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}


a, .btn-link {
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.page-heading{

    text-align:center;

}

.suggestion-container{
    display:flex;
    justify-content:center;
    margin-bottom:3rem;
}

.suggestion-btn{
    font-family:'Montserrat', sans-serif;
    border-width:3px;
    border-radius:10px;
    padding-left:2rem;
    padding-right:2rem;
    font-weight:900;
}

.btn-outline-light:hover{
    color:#1b6ec2
    Background:#FFFFFF;
    border-color:#FFFFFF;
}

.suggestion-count {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:1rem;
}


.btn-order{
    background-color:#FFFFFF;
    border:1px solid #DDDDDD;
    border-radius:10px;
}

.btn:focus,
.form-control:focus{
    box-shadow:none;
}

.sort-selected {
    background-color: #DDDDDD;
    color: #000000;
    font-weight: 700;
}

    .sort-selected:hover {
        color: #000000;
    }

.search-box {
    --bs-gutter-x: 3.5rem;
}

.rounded-control {
    border-radius: 10px;
}


.categories{
    margin:1rem;
    background-color:#FFFFFF;
    border-radius:10px;
    padding:1rem;

}

.categories div{
    margin-top:1rem;
}

.categories div:hover{
    cursor:pointer;
}

.selected-category{
    font-weight:700;

}


.statuses {
    margin: 1rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
}

    .statuses div {
        margin-top: 1rem;
    }

        .statuses div:hover {
            cursor: pointer;
        }

.selected-status {
    font-weight: 700;
}

